<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}{{burger_name}}{{else}}{{burger_name}}{{/if}}
	</button>

	<button class="delete-burger" data-id="{{id}}">DELETE!</button>
</li>
